@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}



.ham {
    display: none;
}

/* Nav Styles */
nav {
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-left h2 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-left .h2-easy {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.nav-right {
    display: flex;
    gap: 44px;
}

.nav-right span a {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}


.nav-right a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

/* Banner Styles Here */
.banner-container {
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    border-radius: 12px;
}

.banner-text {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
}

.banner-text h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 24px;
}

.banner-text p {
    color: #FFF;
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    padding-bottom: 48px;
}

.opt-container {
    gap: 24px;
    border-radius: 8px;
    background-image;: linear-gradient(#e5e4e2)
}

.op-txt {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
}

.opt-btn {
    border-radius: 8px;
    border: none;
    background: #FF5400;
    width: 174px;
    height: 52px;
}

.opt-btn a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.magnify {
    color: #FFF;
}


.banner-image img {
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

/* Tour Styles Here */
.tour-container {
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text-container ul {
    padding-left: 30px;
}

.tour-img-container {
    border-radius: 16px;
}

.tour-img-container img {
    height: 100%;
}

.common-button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
}

/* Destination Styles Here */
.destination-container {
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 100px;
}

.dest-text-container {
    text-align: center;
}

.dest-text-container h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.dest-text-container p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 48px;
}

.dest-image-container {
    display: grid;
    gap: 24px;
    grid-template-areas:
        "maldives maldives maldives indonesia indonesia indonesia"
        "srilanka srilanka north-america north-america kashmir kashmir"
        "bangladesh bangladesh bangladesh bandarban bandarban bandarban"
    ;

}

.dest-image-container img {
    width: 100%;
    height: 300px;
}

.dest-image-container .maldives {
    grid-area: maldives;
}

.dest-image-container .indonesia {
    grid-area: indonesia;
}

.dest-image-container .srilanka {
    grid-area: srilanka;
}

.dest-image-container .north-america {
    grid-area: north-america;
}

.dest-image-container .kashmir {
    grid-area: kashmir;
}

.dest-image-container .bangladesh {
    grid-area: bangladesh;
}

.dest-image-container .bandarban {
    grid-area: bandarban;
}

/* Why Choose Us Styles */

.why-choose-container {
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid red;
}


.why-choose-container .text-container {
    text-align: center;
    border: 2px solid blue;
}

.text-container h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.text-container p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.card-container {
    padding-top: 24px;
    gap: 24px;
    width: 100%;
    display: flex;

}

.card-1 {
    width: 100%;
    height: 248px;
    padding: 25px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);


}

.card-2 {
    width: 100%;
    height: 248px;
    padding: 25px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);


}

.card-3 {
    width: 50%;
    height: 248px;
    padding: 25px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

    margin: 0px auto;

}

/* Deals Styles */
.text-deals {
    text-align: center;
}

.text-deals h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.text-deals p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 48px;
}

.inner,
.text-deals {
    max-width: 1250px;
    margin: 0 auto;
}

.sec-deals {
    padding: 60px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.deal-inner {
    height: 450px;
    background-image: url("/images/deals-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 55px;
}

.deal-inner-2 {
    height: 450px;
    background-image: url("/images/deals-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 55px;
}

.blank {
    width: 45%;
}

.text-box {
    width: 55%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.58);
    backdrop-filter: blur(5px);
    padding: 55px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-box button {
    border-radius: 8px;
    border: none;
    background: #FF5400;
    width: 150px;
    height: 52px;
}

.text-box button a {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.all-packages {
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 100px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 20px;
}

/* Simple Perfect Section Styles */
.simple-container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.simple-inner {
    display: flex;
    width: 100%;
}

.simple-inner ul {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.text-container {
    width: 50%;
}

.simple-media-container {
    width: 50%;
}

/* Newsletter Styles Start Here */
.newsletter-container {
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.newsletter-container .text-container {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 30px;
}

.text-container h1 {
    text-align: left;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.text-container p {
    text-align: left;
}

.text-container input {
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding: 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
    height: 52px;
    flex-shrink: 0;
}

.sub-btn {
    border: none;
    border-radius: 8px;
    background: #FF5400;
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.image-container {
    position: relative;

}

.discount-orange {
    width: 324px;
    height: 120px;
    color: white;
    position: absolute;
    right: 15px;
    bottom: 80px;
    border-radius: 16px;
    padding: 30px;
    background: #FF5400;
    transform: rotate(-19.628deg);
}

.discount-orange p {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.discount-orange h1 {
    font-size: 32px;
    font-weight: 800;
}

/* Bonus Section Styles */
.featured-section {
    max-width: 1250px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: #f8f8f8;
}

.featured-section h2 {
    padding-bottom: 24px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

.featured-section p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 48px;
}

.card-container{
    display: flex;
}
.destination-card {
    max-width: 580x;
    padding: 20px;
    background-color: #edeaea;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.destination-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 15px;
}

.destination-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.destination-card p {
    color: #666;
    margin-bottom: 15px;
}

.destination-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5400;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}


/* Footer Styles */
.footer-container {
    background: rgba(19, 19, 24, 0.05);
}

.footer-logo {
    padding-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo h2 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.footer-logo .orange {
    color: #FF5400;
    font-size: 32px;
    font-weight: 800;
}

.footer-container p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 25px;
    padding-bottom: 50px;
    padding-top: 33px;
}

.footer-container p {
    padding-top: 50px;
    padding-bottom: 110px;
}